{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div style="text-align:center">
			<h2>Who am I?</h2>
		</div>
		<div class="row" style="text-align:center; margin:50px">
                 <p>I am a student who studied in subject 'Software development - Craft'. This is the first website built with Django and Python.</p>
                <p>It's inspired from the previous project wanted to represent products.</p>
        </div>
    </div>        

{% endblock content %}